@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Ralewap', system-ui, sans-serif;
    font-variant-numeric: lining-nums;
    font-feature-settings: 'lnum' 1;
    font-weight: 600;
}

@layer base {
    h1 {
        @apply text-7xl sm:text-8xl lg:text-[110px] font-extrabold;
    }

    h2 {
        @apply text-6xl sm:text-7xl lg:text-8xl font-black;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    p,
    span {
        @apply text-base;
    }

    a {
        @apply inline-block;
    }

    button {
        @apply text-white px-8 py-3 md:px-10 md:py-4 shadow-lg bg-cadetBlue rounded-border hover:bg-[#3F9098] focus:bg-[#3F9098] focus:shadow-none;
    }
}

@layer components {
    .header--3 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .header--4 {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    .header--5 {
        font-size: 1.25rem;
    }

    .link-hover--one {
        @apply hover:text-[#0FA3B1] focus:text-[#1D7882];
    }

    .link-hover--two {
        @apply hover:underline focus:text-[#2B6469];
    }
}

@layer utilities {
    .rounded-border {
        @apply rounded-xl box-shadow;
    }

    .box-shadow {
        box-shadow:
            0 1px 1px hsl(0deg 0% 0% / 0.05),
            0 2px 2px hsl(0deg 0% 0% / 0.05),
            0 4px 4px hsl(0deg 0% 0% / 0.05),
            0 8px 8px hsl(0deg 0% 0% / 0.05),
            0 16px 16px hsl(0deg 0% 0% / 0.05);
    }
}
